
.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/starter_code-checkpoint.ipynb
.ipynb_checkpoints/starter_code copy-checkpoint.ipynb
.ipynb_checkpoints/Train-Test-Model-checkpoint.ipynb
.ipynb_checkpoints/Content-based-movie-recommendation-model-checkpoint.ipynb
.ipynb_checkpoints/Graphs_&_statistical_analysis-checkpoint.ipynb
.ipynb_checkpoints/SVD-movie-recommendation-model-checkpoint.ipynb
.ipynb_checkpoints/Matrix-factorization-model-checkpoint.ipynb
.ipynb_checkpoints/SVD-movie-recommendation-model-2-checkpoint.ipynb
